*{
    box-sizing: border-box;
    font-size: 10px;
    padding: 0;
    margin: 0;
    
}
.shop{
    height: 11rem;
    width: 100%;
    background-color: rgb(111, 181, 255);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.shop--application--function{
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.shop--application{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.application{
    font-size: 16px;
    padding: 0px 15px;
    
    
}
.application--click{  
    font-size: 1em;
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-weight: 600;
}
.shop--function{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.function{
    padding: 0px 10px;
    font-size: 16px;
}
.function--click{
    font-size: 1em;
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-weight: 600;
}
.application--click:hover, .function--click:hover{
    color: rgb(248, 103, 70);
}
i{
    font-size: 16px;
}
.function:nth-child(3),.function:nth-child(1), .application:nth-child(3){
    position: relative;
}
.language--vie--eng{
    position: absolute;
    background-color: white;
    border-radius: 5px;
    display: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 3px;
    display: none;
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.092) , 0 1px 2px rgba(0, 0, 0, 0.092), -1px 0 2px rgba(0, 0, 0, 0.092), 0 -1px 2px rgba(0, 0, 0, 0.092);
}
.language--vie--click, .language--eng--click{
    font-size: 16px;
    text-decoration: none;
    color: black;
}
.function:nth-child(3):hover .language--vie--eng{
    display: block;
    content: " ";
}
.language--vie--click:hover,  .language--eng--click:hover{
    color: rgb(250, 112, 112);
}
.notice{
    height: 30em;
    width: 30em;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: -10em;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    display: none;
    box-shadow: 1px 0px rgba(0, 0, 0, 0.092) , 0 1px rgba(0, 0, 0, 0.092), -1px 0 rgba(0, 0, 0, 0.092), 0 -1px rgba(0, 0, 0, 0.092);
    z-index: 1;
}
.function:nth-child(1):hover .notice{
    display: block;
}
.image{
    margin-top: 10px;
    position: absolute;
    width: 13rem;
    height: 13rem;
    display: none;
    z-index: 1;
}
.application:nth-child(3):hover .image{
    display: block;
}
.shop__active{
    width: 100%;
    height: 5rem;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    grid-column-gap:wrap ;
}
.shop--brand{
    font-size: 35px;
    text-align: center;
    font-weight: 700;
    color: white;
}
.shop--search{
    font-size: 16px;
    width: 100%;
    display: flex;
    background-color: white;
    align-items: center;
}
.search--input{
    width: 98%;
    height: 3rem;
}
.search--icon{
    width: 2%;
    margin-right: 5px;
}
.shop--sell{
    text-align: center;
}
.sell--click ,.product__propose--click{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.sell--click:hover,.search--icon:hover,.product__propose--click:hover{
    color: rgb(248, 103, 70);
}
.shop__product--propose{
    display: flex;
    height: 2rem;
    width: 60%;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.shop__discount{
    margin-top: 10px;
    height: 35rem;
    width: 100%;
    margin-bottom: 20px;
}
.discount{
    width: 80%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    
}
.discount--first{
    position: relative;
    width: 70%;
    height: 100%;
}
.image--discount--first{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5px 5px;
}
.discount--second{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.image--discount--second{
    width: 100%;
    height: 50%;
    padding: 5px 5px;
}
.image--discount--first:nth-child(1){
    animation-name: change5;
    animation-duration: 20s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
.image--discount--first:nth-child(2){
    animation-name: change4;
    animation-duration: 20s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
.image--discount--first:nth-child(3){
    animation-name: change3;
    animation-duration: 20s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
.image--discount--first:nth-child(4){
    animation-name: change2;
    animation-duration: 20s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
.image--discount--first:nth-child(5){
    animation-name: change1;
    animation-duration: 20s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
/* .image--discount--first:nth-child(6){
    animation-name: change1;
    animation-duration: 30s;
    animation-timing-function: ease;
   
} */
@keyframes change1 {
    0% { opacity: 1;}
    19% {opacity: 1;}
    20% { opacity: 0; }
    40% { opacity: 0; }
    60% { opacity: 0; }
    80% { opacity: 0; }
    100% { opacity: 0;}
}
@keyframes change2 {
    0% { opacity: 0;}
    20% { opacity: 1; }
    39% { opacity: 1;}
    40% { opacity: 0; }
    60% { opacity: 0; }
    80% { opacity: 0; }
    100% { opacity: 0;}
}
@keyframes change3 {
    0% { opacity: 0;}
    20% { opacity: 0; }
    40% { opacity: 1; }
    59% { opacity: 1; }
    60% { opacity: 0; }
    80% { opacity: 0; }
    100% { opacity: 0;}
}
@keyframes change4 {
    0% { opacity: 0;}
    20% { opacity: 0; }
    40% { opacity: 0; }
    60% { opacity: 1; }
    79% { opacity: 1;}
    80% { opacity: 0; }
    100% { opacity: 0;}
}
@keyframes change5 {
    0% { opacity: 0;}
    20% { opacity: 0; }
    40% { opacity: 0; }
    60% { opacity: 0; }
    80% { opacity: 1; }
    99% {opacity: 1;}
    100% { opacity: 1;}
}
.voucher{
    height: 30%;
    width: 100%;
}
.shop__voucher{
    width: 80%;
    height: 100%;
    margin: auto;
    padding: 5px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.voucher--item--image{
    height: 100%;
    width: 12rem;
    display: flex;
    flex-wrap: wrap;
}
.voucher--image{
    height: 60%;
    width: 100%;
    display: flex;
    
}
.voucher--item{
    height: 40%;
    width: 100%;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
}
.voucher--click{
    height: 100%;
    width: 12rem; 
    text-decoration: none;
    color: black;
    margin: auto;
}
.menu{
    height: 36rem;
    width: 100%;
    background-color: rgba(209, 209, 209, 0.416);
    padding-top: 20px;
}
.menu__product__name{
    width: 80%;
    height: 100%;
    margin: auto;
    background-color: white;
    padding: 5px 5px;
}
.menu__name{
    font-size: 30px;
    font-weight: 700;
    color: rgb(111, 181, 255);
    margin: 10px 10px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}
.menu__product{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.product{
    width: 10%;
    height: 13.5rem;
    border: 1px solid rgba(197, 197, 197, 0.33);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.product--click{
    width: 100%;
    height: 100%;
    text-decoration:none;
    color: black;
}
.product__image--demo{
    height: 60%;
    width: 100%;
}
.image--product--demo{
    height: 100%;
    width: 100%;
    padding: 0px 10px;
}
.product__item--demo{
    height: 40%;
    width: 100%;
    display: flex;
    font-size: 16px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
}
.product--click:hover{
    box-shadow: 1px 0px 2px rgba(94, 94, 94, 0.22) , 0 1px 2px rgba(94, 94, 94, 0.22), -1px 0 2px  rgba(94, 94, 94, 0.222), 0 -1px 2px  rgba(94, 94, 94, 0.22);
    transition: 0.2s ease;
    z-index: 1;
}
.flash__sale{
    height: 31rem;
    width: 100%;
    background-color: rgba(209, 209, 209, 0.416);
    padding-top: 2rem;

}
.flash__sale--name--product{
    height: 100%;
    width: 80%;
    margin: auto;
    padding: 5px 5px;
    background-color: white;
}
.flash__sale--name{
    font-size: 3rem;
    padding: 10px 10px;
    font-weight: 700;
    color:rgb(111, 181, 255) ;
}
.flash__sale--product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    height: 23rem;
}
.product--sale{
    height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.flash__sale--image{
    height: 70%;
    width: 100%;
    position: relative;
}
.image--sale{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
}
.image--checked{
    height: 100%;
    width: 100%;
    z-index: 2;
    position: absolute;
}
.flash__sale--item{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.item--price{
font-size: 18px;
color: red;
font-weight: 500;
}
.item--sell{
    width: 100%;
}
.sell--status{
    width: 80%;
    height: 2rem;
    background-color: rgb(255, 149, 149);
    margin: auto;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}
.sell--text{
    font-size: 15px;
    font-weight: 600;
    color: white;
    position: absolute;
    z-index: 3;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mall{
    height: 60rem;
    width: 100%;
    background-color: rgba(209, 209, 209, 0.416);
    padding-top: 2rem;
}
.shop__mall{
    height: 100%;
    width: 80%;
    margin: auto;
    background-color: white;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px 5px;
}
.mall--service{
    height: 10%;
    width: 100%;
    border-bottom: 1px solid rgba(126, 126, 126, 0.403);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 3px 3px;
    gap: 5px;
}
.service{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.mall--product{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    padding: 10px 0px 0px 10px;
}
.mall--product--first{
    height: 100%;
    width: 30%;
    position: relative;
}
.image--mall--first{
    position: absolute;
    width: 100%;
    height: 100%;
}
.image--mall--first:nth-child(1){
/* animation: change3 12s ease 0 infinite 0 0; */
animation-name: change3;
animation-duration: 12s;
animation-iteration-count: infinite;
}
.image--mall--first:nth-child(2){
/* animation: change2 12s ease 0 infinite 0 0; */
animation-name: change2;
animation-duration: 12s;
animation-iteration-count: infinite;
}
.image--mall--first:nth-child(3){
/* animation: change3 12s ease 0 infinite 0 0; */
animation-name: change1;
animation-duration: 12s;
animation-iteration-count: infinite;
}
@keyframes change1 {
    0%{opacity: 1;}
    33.2%{opacity: 1;}
    33.3% {opacity: 0;}
    66.6% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes change2 {
    0%{opacity: 0;}
    33.3%{opacity: 1;}
    66.5%{opacity: 1;}
    66.6%{opacity: 0;}
    100%{opacity: 0;}
}
@keyframes change3 {
    0%{opacity: 0;}
    33.3%{opacity: 0;}
    66.5%{opacity: 0;}
    66.6%{opacity: 1;}
    100%{opacity: 1;}
}
.mall--product--second{
    width: 70%;
    height: 100%;
    padding: 5px 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
}
.image--product--mall-second{
    height: 100%;
    width: 100%;
}
.prouct--mall-second--click{
    text-decoration:none
}
.shop__suggest{
    height: 130rem;
    width: 100%;
    background-color: rgba(209, 209, 209, 0.416);
    padding-top: 2rem;
    border-bottom: 5px solid rgb(111, 181, 255);
}
.suggest--title--product{
    height: 93%;
    width: 80%;
    margin:auto;
    background-color:white;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    margin-bottom: 3rem;
    padding: 3px 3px;
}
.suggest--title{
    height:5%;
    width: 100%;
    text-align:center;
    color: rgb(111, 181, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 5px solid rgb(111, 181, 255)
}
.suggest--product{
    height: 95%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 8px;
    padding: 5px 5px;
    background-color: rgba(159, 159, 159, 0.263);
}
.product--suggest--today{
    position: relative;
    background-color: white;
    /* box-shadow: 2px 0px rgba(255, 255, 255, 0.466) , 0px 2px rgba(255, 255, 255, 0.466), -2px 0 rgba(255, 255, 255, 0.466), 0 -2px rgba(255, 255, 255, 0.466) */
    border: 1px solid white;
}
.image--suggest--today{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}
.product--today--image{
    height: 65%;
    width: 100%;
    position: relative;
}
.image--product--suggest{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.product--today--item{
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3px 3px;
}
.product--today--information{
    max-height: 40%;
    width: 100%;
    font-size: 15px;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.information--sale{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.persent--discount,
.flash--discount{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    margin-top: 3px;
    width: 7rem;
}
.product--today--price--sell{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: end;
}
.product--today--price{
    flex: 1 auto;
    font-size: 17px;
    color: red;
}
.product--today--sell{
    font-size: 16px;
    color: gray;
    opacity: 1;
}
.product--today--search{
    height: 3rem;
    width: 100%;
    opacity: 0;
    background-color:rgb(111, 181, 255);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0;
    z-index: 1;
    position: absolute;
}
.product--suggest--click{
    text-decoration: none;
    color: black;
}
.product--suggest--today:hover .product--today--search{
opacity: 1;
z-index: 2;
}
.product--suggest--today:hover{
    border: 2px solid rgb(111, 181, 255)
}
.shop--suggest--more{
    height: 3rem;
    width: 30%;
    margin: auto;
    border: 1px solid rgba(126, 126, 126, 0.403);
    text-align: center;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content:center ;
}
.shop--suggest--more--click{
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.shop--suggest--more--click:hover{
    color: rgb(111, 181, 255);
}
.shop__introduce{
    height: 130rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.996);
}
.introduce--information{
    font-size: 16px;
    height: 100%;
    width: 80%;
    margin: auto;
    margin-top: 2em;
    border-bottom:2px solid gray
}
.introduce--title{
    font-size: 16px;
}
.information--introduce--title{
    font-size: 16px;
    padding: 10px;
    line-height: 1.5;
}
 b, u, span,li,.brand--hightlight--click{
    font-size: 15px;
    line-height: 1.5;
    text-decoration: none;
    color: black;
 }
 .brand--hightlight--click:hover{
    color: rgb(0, 123, 255);
 }
 .shop__all--menu{
    height: 100rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.996);
 }
 .all--menu--product{
    height: 100%;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    padding: 5px 5px;
 }
 .all--product--sell{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
 }
 .all--product{
    height: 100%;
    width: 20%;
 }
 .product--sell--name--click,.product--sell--name, span{
    text-decoration: none;
    color: rgb(92, 92, 92);
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
 }
 .product--sell--name--click:hover,.product--sell--name:hover{
    color: rgb(0, 123, 255);
 }
.shop__serve{
    height: 35rem;
    width: 100%;
    background-color: rgba(238, 238, 238, 0.74);
}
.card__serve{
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3rem;
    border-bottom:3px solid gray
}
.serve--customer,.Piviti--information,.shop--follow,.shop--download{
    width: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.shop--pay {
    width: 20%;
}

.customer--title,.Piviti--title,.pay--title,.follow--title,.download--title{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 10px 0px;
}
.customer--information--click,.Piviti--information--click,.pay--click,.follow--click{
    text-decoration: none;
    color: black;
    font-size: 15px;
    line-height: 1.5;
}
.customer--information--click:hover,.Piviti--information--click:hover,.pay--click:hover,.follow--click:hover{
    color: rgb(0, 123, 255);
}
.shop__copyright{
    height: 10rem;
    width: 100%;
    background-color: rgba(250, 250, 250, 0.941);
}
.copyright{
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.follow--click,.copyright--country--click{
    text-decoration: none;
    font-size: 15px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.shop__certification__address{
    height: 50rem;
    width: 100%;
    background-color: rgba(238, 238, 238, 0.74);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.shop__certification{
    height: 20%;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.policy--click{
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.shop__certification--image{
    height: 30%;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image--certification{
    width: 20%;
    height: 60%;
}
.shop__address{
    height: 50%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.name--company,.address--company,.content--company,.tax--company,.copyright--company{
    font-size: 14px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
@media screen and (max-width: 767px){
    
    .shop{
        display:none;
    }
    .shop__discount{
        height: 50rem;
    }
    .discount{
        width: 100%;
        height: 30%;
        padding: 0;
    }
    .shop__voucher{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .menu{
        width: 100%;
        height: 90rem;
        }
    .menu__product__name{
            width: 100%;
        }
    .product{
            width: 33.33%;
        }
    .product:nth-child(10){
            display: none;
        }
    .flash__sale{
        height: 80rem;
        }
    .flash__sale--name--product{
        height: 100%;
        width: 100%;
        background-color: white;
    }
    .flash__sale--product{
        display: flex;
        flex-wrap: wrap;
    }
    .product--sale{
        width: 47%;
    }
    .mall{
        height: 90rem;
        width: 100%;
    }
    .shop__mall{
        width: 100%;
        padding: 0;
    }
    .mall--service{
        height: 9rem;
        width: 100%;
        display: flex;
    }
    .service:nth-child(1){
    width: 100%;
    }
    .mall--product{
        height: 60rem;
    }
    .service:nth-child(2),.service:nth-child(3),.service:nth-child(4){
        font-size: 9px;
        padding-bottom:5px ;
    }
    .mall--product--first{
        width: 100%;
        height: 50rem;
        padding: 0;
    }
    .mall--product--second{
        height: 5rem;
        width: 100%;
    }
    .mall--product{
        padding: 5px 5px;
    }
    .suggest--title--product{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    .shop__suggest{
        height:385rem;
        width: 100%;
        background-color: rgba(209, 209, 209, 0.416);
        padding-top: 2rem;
        border-bottom: 5px solid rgb(111, 181, 255);
        display: flex;
        flex-direction: column;
    }
    .suggest--title{
        height:2%;
    }
    .suggest--product{
        height: 90%;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1px;
        padding: 0;
    }
    .shop--suggest--more{
        margin-top: 15rem;
    }
    .product--suggest--today{
        width: 49%;
        height: 30rem;
    }
    .shop__introduce{
        display: none;
    }
    .shop__all--menu{
        display: none;
    }
    .shop__serve{
        display:none;
    }
    .shop__copyright{
        display: none;
    }
    .shop__certification__address{
        height: 50rem;
    }
    .shop__certification{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 5px 5px;
        height: 11rem;
        width: 100%;
        margin: 0;
    }
    .shop--policy{
        width: 100%;
        height: auto;
    }
    .shop__certification--image{
        height: 6rem;
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .image--certification{
        width: 60%;
        height: 100%;
    }
    .shop__address{
        height: 30rem;
        margin: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 5px 5px;
    }
}
@media screen and (min-width:768px) and (max-width:1023px){
    .shop{
        height: 14rem;
    }
    .shop__discount{
        height: 50rem;
    }
    .discount{
        width: 100%;
        height: 40%;
    }
    .voucher{

    }
    .shop__voucher{
        width: 100%;
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: none;
    }
    .voucher--item--image{
        height: 100%;
        width: 19rem;
    }
    .voucher--item--image:nth-last-child(9){
        display: none;
    }
    .menu{
        height: 95rem;
        padding: 5px 5px;
    }
    .menu__product__name{
        width: 100%;
    }
    .product{
        width: 25%;
        height: auto;
    }
    .product:nth-child(9),.product:nth-child(10){
        display: none;
    }
    .flash__sale--name--product{
        width: 100%;
        padding: 3px 3px;
    }
    .flash__sale--product{
        column-gap: 10px;
    }
    .mall{
        height: 130rem;
    }
    .shop__mall{
        width: 100%;
        height: 100%;
    }
    .mall--service{
        text-align: center;
        height: 10rem;
    }
    .service:nth-child(1){
        width: 100%;
    }
    .service:nth-child(2),.service:nth-child(3),.service:nth-child(4){
        padding: 10px 10px;
    }
    .mall--product{
        display: flex;
        flex-direction: row;
    }
    .mall--product--first{
        width: 100%;
        height: 60%;
    }
    .mall--product--second{
        height: 40%;
        width: 100%;
    }
    .shop__suggest{
        height: 300rem;
    }
    .suggest--title--product{
        width: 100%;
        height: 96%;
    }
    .suggest--title{
        height: 2%;
    }
    .suggest--product{
        height: 98%;
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .shop__introduce{
        width: 100%;
        height: 185rem;
    }
    .introduce--information{
        width: 90%;
        height: 100%;
    }
    .shop__all--menu{
        height: 180rem;
    }
    .all--menu--product{
        width: 90%;
        height: 100%;
    }
    .menu--product--title{
        height: 3%;
    }
    .all--product--sell{
        display: flex;
        height: 97%;
    }
    .all--product{
        width: 100%;
        height: auto;
        gap: 0;
    }
    .shop__serve{
        height: 36rem;
        width: 100%;
    }
    .card__serve{
        width: 100%;
        padding: 1rem;
    }
    .shop__certification--image{
        height: 20%;
    }
}
@media screen and (min-width:1024px){
    .discount{
        width: 90%;
        
    }
    .shop__voucher{
        width: 90%;
    }
    .menu__product__name{
        width: 90%;
    }
    .flash__sale--name--product{
        width: 90%;
    }
    .mall{
       height: 70rem;
    }
    .shop__mall{
        width: 90%;
        height: 100%;
    }
    .mall--product--first{
        width: 35%;
    }
    .mall--product--second{
        width: 65%;
    }
    .suggest--title--product{
        width: 90%;
    }
    .shop__introduce{
        height: 140rem;
    }
    .introduce--information{
        width: 90%;
    }
    .shop__all-menu{
        height: 120rem;
    }
    .all--menu--product{
        width: 90%;
        height:100% ;
    }
    .card__serve{
        width: 90%;
        padding: 3rem  0 0 0;
    }
    .copyright{
        width: 85%;
    }
} 